.main-content {
  margin: 2rem 1.5rem 4rem;

  & .main-filter-container {
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }

  @media screen and (min-width: 750px) {
    & .main-filter-container {
      flex-direction: row;
      justify-content: space-between;
    }
  }
}

